html, body {
    background-color: #b64378;
    margin: 0;
    height:100%;
    padding: 0;
}

#footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#999;
}