#login_form {
    width: 300px;
    background: #f0f0f0;
    border: 1px solid white;
    margin: 0 auto 0;
    padding: 1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    text-align: center;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
    border: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 1em;
}

input[type=submit], form a {
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #348075;
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover {
    background: #287368;
    cursor: pointer;
}

.error {
    color: #393939;
    font-size: 15px;
}

fieldset {
    width: 300px;
    margin: auto;
    margin-bottom: 2em;
    display: block;
}

h1 {
    text-shadow: 0 1px 0 white;
}

label {
    display: block;
}

/*#footer {*/
    /*position:fixed;*/
    /*left:0;*/
    /*bottom:0;*/
    /*height:30px;*/
    /*width:100%;*/
    /*background:#999;*/
/*}*/

/* IE 6 */
/** html #footer {*/
    /*position:absolute;*/
    /*top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');*/
/*}*/

.error {

}

#newsletter_form {

}

#newsletter_form form input[type=text] {

}